<!DOCTYPE html>

<head lang="en">
    <meta charset="utf-8">
    <title>user_index</title>
    <script src="/static/jquery.js"></script>
    <script src="/static/jquery.cookie.js"></script>
</head>

<body>
    <div>
        <h1 id="username">{{user.name}}</h1>
        <h1 id="usersex">{{sex}}</h1>
    </div>
    <div>
        <ul>
            {% for i in datelist%}
            <li>{{i}}</li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <table>
            <tr>
                <td>姓名</td>
                <td>选择</td>
            </tr>
            {% for i in alllist %}
            <tr>
                <td>{{i.name}}</td>
                <td><button value={{i.username}} onclick="add_date(this);">data</button></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <script>  
        function add_date(obj){
            alert($(obj).val())
            $.ajax({
                url:"/adddate/",
                type:"POST",
                headers:{
                    'X-CSRFToken':$.cookie('csrftoken')
                },
                data:{
                    'targetname':$(obj).val(),
                    'username':$('#username').text(),
                    "usersex":$("#usersex").text()
                },
                success:function(data){
                    location.reload(true);
                    window.location.reload();
                }
            })
        }
    </script>
</body>