<!DOCTYPE html>

<head lang="en">
    <meta charset="utf-8">
    <script src="/static/jquery.js"></script>
    <title>login</title>

<body>
    <div id="id_login">
        <form action="/test/" method="POST" id="form1" novalidate>
            {% csrf_token %}
            <p>
                {{ obj.t1 }} {{obj.errors.t1.0}}
            </p>
            <p>
                {{ obj.t2 }} {{obj.errors.t2.0}}
            </p>
            <p>
                <!-- {{ obj.as_p }} -->
                <!-- {{ obj.t1.label }}{{ obj.t1.label_suffix }}
                {{ obj.t1.help_text }}
                {{ obj.t1 }} -->
                <!-- char:<input type="text" name="t1">
                {{obj.errors.t1.0}} -->
            </p>
            <p>
                <!-- int:<input type="text" name="t2">
                {{obj.errors.t2.0}} -->
            </p>
            <!-- <p>
                email:<input type="text" name="t3">
                {{obj.errors.t3.0}}
            </p>
            <p>
                URL:<input type="text" name="t4">
                {{obj.errors.t4.0}}
            </p>
            <p>
                Slug:<input type="text" name="t5">
                {{obj.errors.t5.0}}
            </p>
            <p>
                IPAddress:<input type="text" name="t6">
                {{obj.errors.t6.0}}
            </p>
            <p>
                DateTime:<input type="text" name="t7">
                {{obj.errors.t7.0}}
            </p>
            <p>
                Date:<input type="text" name="t8">
                {{obj.errors.t8.0}}
            </p>
            <p>
                Regex:<input type="text" name="t9">
                {{obj.errors.t9.0}}
            </p> -->
            <input type="submit" value="login">

        </form>
        <button onclick="register()">register</button>
    </div>


    <!-- <div>
        <form action="/test/" method="POST" id="form1">
            {% csrf_token %}
            <p>
                {{ obj.as_p }}
            </p>

        </form>
        <button onclick="register()">register</button>
    </div> -->



</body>
<script>
    function register() {
        $("#id_login").css("display", "none")
        $('#id_register').css("display", "block")
    }

    function to_login() {
        $('#id_register').css("display", "none")
        $("#id_login").css("display", "block")
    }

    function check_empty(obj) {
        return true
        // if ($(obj).val() == "") {
        //     $(obj).attr("placeholder", "输入框不能为空")
        //     $(obj).focus()
        // }
    }

    function check_password_agin() {
        return true
        // if ($("#password_1").val() != $("#password_2").val()) {
        //     $("#password_2").val('')
        //     $("#password_2").attr("placeholder", "前后密码不一致")
        //     return false
        // }
    }

    function sbumitform() {

        $.ajax({
            type: "POST",
            url: "/ajaxlogin/",
            //会把form提交的键值对 打包放进data中，包括csrf 
            //username=root&password=0125&csrftoken=ddasadsada... 打包成字符串了
            //但是后端使用没有区别，因为以前提交的字典，提交的时候也是内部转换成字符串发过去
            data: $("#form1").serialize(),
            dataType: "JSON",
            success: function (arg) {
                console.log(arg)
                if (arg.status == false) {
                    $(".c1").remove()
                    $.each(arg.message, function (index, value) {
                        console.log(index, value)
                        var tag = document.createElement('span')
                        tag.innerHTML = value[0]
                        tag.className = "c1"
                        $('#form1').find('input[name="' + index + '"]').after(tag)
                    })
                }
            }
        });
    }
</script>

</head>