<!DOCTYPE html>
    <head lang="en">
        <meta charset="utf-8">
        <title>add_studendt</title>
    </head>
    <body>
        <form action="/test/add_student/" method="POST">
            <p>student name:<input type="text" name="student_name"></p>
            <p>
                class:
                <select name="class_id">
                    {% for class in class_list %}
                        <option value="{{class.0}}">{{class.1}}</option>
                    {% endfor %}
                </select>
            </p>
            <input type="submit" value="提交">
        </form>
    </body>
</html>