<!DOCTYPE html>
    <head lang="en">
        <meta charset="utf-8">
        <title>classes</title>
        <script src="https://g.csdnimg.cn/??lib/jquery/1.12.4/jquery.min.js,report/1.0.6/report.js"></script>
        <style>
            .hide{
                display: none;
            }
            .shadow{
                position: fixed;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                background-color: black;
                opacity: 0.4;
                z-index: 999;
            }
            .modal{
                z-index: 1000;
                position: fixed;
                left: 50%;
                top: 50%;
                height: 100px;
                width: 400px;
                margin-left: -200px;
                margin-top: -150px;
                background-color: blanchedalmond;
            }
        </style>
    </head>
    <body>
        <h1>classes</h1>
        <div>
            <a href="/add_class/">add</a>
            <button onclick="showModal()">对话框添加</button>
        </div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>class</th>
                    <th>operate</th>
                    <th>operate_</th>
                </tr>
            </thead>
            <tbody>
                {% for class in class_list %}
                    <tr>
                        <td>{{class.0}}</td>
                        <td>{{class.1}}</td>
                        <td>
                            <a href="/del_class/?nid={{class.0}}">delete</a>
                            
                            <a href="/edit_class/?nid={{class.0}}">edit</a>
                        </td>
                        <td>
                            |<button value="{{class.0}}" onclick="AjaxDelete(this);">delete_</button>
                            |<button value="{{class.0}}" onclick="AjaxEdit(this);">edit</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/">return</a>
    </body>
    <!-- 表单提交无法完成不刷新页面提交 -->
    <!-- <div id="shadow" class="shadow hide"></div>
    <div id="modal" class="modal hide">
        <form action="/modal_add_class/" method="POST">
            <P>
                <input type="text" name="title">
            </P>
            <input type="submit" value="提交">
        </form>
    </div> -->
    <div id="shadow" class="shadow hide"></div>
    <div id="modal" class="modal hide">
        <P><input id ="title" type="text" name="title"></P>
        <input type="submit" value="提交" onclick="AjaxSend();"><span id="error"></span>
        <input type="button" value="cancle" name="add_class" onclick="cancleModal(this);">
    </div>
    <div id="shadow-edit" class="shadow hide"></div>
    <div id="modal-edit" class="modal hide">
        class id:<span id="s_c_id"></span>
        class name:<span id="s_c_name"></span></br>
        新的班级名称：<input type="text" name="title" id="class_input" ></br>
        <input type="button" value="submit" onclick="edit_send();">
        <input type="button" value="cancle" name="edit_class"onclick="cancleModal(this);">
    </div>
    <script>
        function showModal(){
            document.getElementById('shadow').classList.remove('hide')
            document.getElementById('modal').classList.remove('hide')
        }
        function cancleModal(obj){
            if (obj.getAttribute("name") == "add_class"){
                document.getElementById('shadow').classList.add('hide')
                document.getElementById('modal').classList.add('hide')
            }else{
                document.getElementById("shadow-edit").classList.add('hide')
                document.getElementById('modal-edit').classList.add('hide')
            }
        }
        function AjaxSend(){
            $.ajax({
                url:'/modal_add_class/',
                type:'POST',
                data:{
                    'title':$('#title').val()
                },
                success:function(data){
                    //当服务端处理完成后，返回数据时，该函数自动调用
                    //data代表服务端返回的值
                    //服务器先拿到值
                    if (data =="ok"){
                        location.href='/class/';
                    }else{
                        $('#error').text(data);
                    }

                }
            })
        }
        function AjaxDelete(obj){
            var class_id =obj.getAttribute("value")
            $.ajax({
                url:'/modal_del_class/',
                type:'POST',
                data:{
                    'class_id':class_id
                },
                success:function(data){
                    if (data =='200'){
                        location.href ='/class/'
                    }else{
                        alert('error delete class id :'+class_id)
                    }
                }
            })
        }
        function AjaxEdit(obj){
            var class_id =obj.getAttribute("value")
            $.ajax({
                url:'/modal_edit_class/',
                type:'GET',
                data:{
                    'nid':class_id
                },
                success:function(data){
                    if (data !=''){
                        document.getElementById('shadow-edit').classList.remove('hide')
                        document.getElementById('modal-edit').classList.remove('hide')
                        $('#s_c_id').text(class_id)
                        $('#s_c_name').text(data)
                    }else{
                        alert('error edit id of class:'+class_id)
                    }

                }
            })
        }
        function edit_send(){
            var class_id =$('#s_c_id').text();
            var new_classname =$('#class_input').val();
            $.ajax({
                url:'/modal_edit_class/',
                type:'POST',
                data:{
                    'class_id':class_id,
                    'new_c_name':new_classname,
                },
                success:function(data){
                    if(data != 'ERROR'){
                        location.href ='/class/'
                    }else{
                        alert('error edit for class:'+class_id)
                    }
                }
            })
        }
    </script>
</html>
