<!DOCTYPE html>
    <head lang="en">
        <meta charset="utf-8">
        <title>classes</title>
    </head>
    
    <body>
        <h1>classes</h1>
        <div>
            <a href="/add_class/">add</a>
        </div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>class</th>
                    <th>operate</th>
                </tr>
            </thead>
            <tbody>
                {% for class in class_list %}
                    <tr>
                        <td>{{class.0}}</td>
                        <td>{{class.1}}</td>
                        <td>
                            <a href="/del_class/?nid={{class.0}}">delete</a>
                            | 
                            <a href="/edit_class/?nid={{class.0}}">edit</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>
