<!DOCTYPE html>
    <head lang="en">
        <meta charset="utf-8">
        <title>edit_studendt</title>
        <script src="/static/jquery.js"></script>
        <link rel="stylesheet" href="/static/plugin/bootstrap-3.3.7-dist/css/bootstrap.css">
        <link rel="stylesheet" href="/static/myself-class.css">
    </head>
    <body>
        <form action="/test/edit_student/{{student.0}}.html" method="POST">
            <p>student id:{{student.0}}</p>
            <p>student name:<input type="text" name="student_name" value="{{student.1}}"></p>
            <p>
                new class
                <select name="class_id">
                    {% for class in class_list %}
                        {% if class.0 == student.2 %}
                            <option selected value="{{class.0}}">{{class.1}}</option>
                        {% else %}
                            <option value="{{class.0}}">{{class.1}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </p>
            <input type="submit" value="提交">
        </form>
    </body>
</html>