<!DOCTYPE html>
    <head lang="en">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="/static/jquery.js"></script>
        <link rel="stylesheet" href="/static/plugin/bootstrap-3.3.7-dist/css/bootstrap.css">
        <link rel="stylesheet" href="/static/myself-class.css">
    </head>
    <title>index</title>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <button type="button" class="btn btn-default navbar-btn" value="student" onclick="to_(this);">TABLE student</button>
                <button type="button" class="btn btn-default navbar-btn" value="teacher" onclick="to_(this);">TABLE teacher</button>
                <button type="button" class="btn btn-default navbar-btn" value="class" onclick="to_(this);">TABLE class</button>
            </div>
        </nav>
    </body>
    <script>
        function to_(obj){
            var target =obj.getAttribute("value")
            if(target =="student"){
                location.href="/?href=student"
            }else if(target =="teacher"){
                location.href="/?href=teacher"
            }else{
                location.href="/?href=class"
            }
        }
    </script>
</html>