<!DOCTYPE html>
    <head lang="en">
        <meta charset="utf-8">
        <title>layout</title>
        <script src="/static/jquery.js"></script>
        <link rel="stylesheet" href="/static/plugin/bootstrap-3.3.7-dist/css/bootstrap.css">
        <link rel="stylesheet" href="/static/plugin/font-awesome-4.7.0/css/font-awesome.css">
        <link rel="stylesheet" href="/static/myself_css/myself-manage.css">
        <link rel="stylesheet" href="/static/myself_css/myself-dialog.css">
        {% block css %}
        {% endblock %}
    </head>
    <body>
        <div class="pg-header">
            <div class="logo left">old child</div>
            <div class="rmenus right">
                <div class="avatar right" style="position: relative;">
                    <img style="width: 40px; height:40px;" src="/static/IMAGE/1.jpg" alt="">
                    <div class="user_info">
                        <a href="">profile</a>
                        <a href="">login out</a>
                    </div>
                </div>
                <a href=""><i class="fa fa-envelope-open-o" aria-hidden="true"></i>email</a>
                <a href=""><i class="fa fa-clipboard"></i>message</a>
            </div>
        </div>
        <div class="pg-body">
            <div class="menus">
                <a href=""><i class="fa fa-folder-open" aria-hidden="true"></i>班级管理</a>
                <a href=""><i class="fa fa-folder-open" aria-hidden="true"></i>学生管理</a>
                <a href=""><i class="fa fa-folder-open" aria-hidden="true"></i>老师管理</a>
            </div>
            <div class="content">
                {% block xx %}
                {% endblock %}
            </div>
            {% block xx-1 %}
            {% endblock %}
        </div>
    </body>
</html>