<!DOCTYPE html>
    <head lang="en">
        <meta charset="utf-8">
        <title>manage</title>
        <script src="/static/jquery.js"></script>
        <link rel="stylesheet" href="/static/plugin/bootstrap-3.3.7-dist/css/bootstrap.css">
        <link rel="stylesheet" href="/static/myself-class.css">
    </head>
    <body>
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="#">Profile</a></li>
            <li role="presentation"><a href="#">Messages</a></li>
        </ul>
        <ul class="nav nav-pills nav-stacked" style="width: 70px;text-align: center;">
            <li role="presentation" class="active"><a href="#">teacher</a></li>
            <li role="presentation"><a href="#">add</a></li>
            <li role="presentation"><a href="#">edit</a></li>
            <li role="presentation"><a href="#">delete</a></li>
            <li role="presentation" class="active"><a href="#">teacher</a></li>
            <li role="presentation"><a href="#">add</a></li>
            <li role="presentation"><a href="#">edit</a></li>
            <li role="presentation"><a href="#">delete</a></li>
            <li role="presentation" class="active"><a href="#">class</a></li>
            <li role="presentation"><a href="#">add</a></li>
            <li role="presentation"><a href="#">edit</a></li>
            <li role="presentation"><a href="#">delete</a></li>
        </ul>
    </body>
</html>