{% extends 'layout.html' %}

{% block css %}
    <script src="/static/myself_js/student.js"></script>
{% endblock %}
{% block xx %}
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">学生管理</a></li>
        <li class="active">添加学生</li>
    </ol>
    <div style="margin-bottom: 10px;">
        <a href="/test/add_student/">add</a> 
        <button id="add_modal" class="btn btn-info glyphicon glyphicon-plus"></button>
    </div>
    <table class="table table-striped table-bordered table-hover ">
        <thead>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>CLASS</th>
                <th>operate_test</th>
                <th>operate</th>
            </tr>
        </thead>
        <tbody>
            {% for student in student_list %}
                <tr>
                    <td>{{student.0}}</td>
                    <td>{{student.1}}</td>
                    <td>{{student.2}}</td>
                    <td>
                        <a href="/test/del_student/{{student.0}}.html"  class="btn btn-danger glyphicon glyphicon-trash" style="color: black;">delete</a>| 
                        <a href="/test/edit_student/{{student.0}}.html" class="btn btn-warning glyphicon glyphicon-pencil" style="color: black;">edit</a>
                    </td>
                    <td>
                        <button class="start-delete btn btn-danger glyphicon glyphicon-trash" value="{{student.0}}" >delete</button>
                        <button class="start-edit btn btn-warning glyphicon glyphicon-pencil" id="start-edit" >edit</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block xx-1 %}           
        <div id="shadow" class="myself-shadow myself-hide"></div>
        <div id="add-modal" class="myself-modal myself-hide">
            <div class="input-group" style="width: 230px; padding-top: 20px; padding-left: 20px;">
                <span class="input-group-addon" id="basic-addon1">name</span>
                <input id="addname" type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
            </div>
            <select id="addclass" name="classid" class="form-control" style="width: 100px; margin-top: 20px; margin-left: 20px;">
                {% for class in class_list %}
                   <option>{{class.1}}</option>
                {% endfor %}
            </select>
            <div style="margin-left: 20px; margin-top: 20px;">
                <input type="button" class="btn btn-default" value="提交" id="Ajax_addstu">
                <input type="button" class="btn btn-default" value="cancle" id="cancle">
            </div>
        </div>
        <div id="edit-shadow" class="myself-shadow myself-hide"></div>
        <div id="edit-modal" class="myself-modal myself-hide">
            <div class="form-group" style="margin-left: 60px;margin-top: 20px;">
                <label for="exampleInputEmail1">student id:<span id="span_id"></span></label>
                <div class="input-group" style="width: 230px; padding-top: 20px; padding-left: 20px;">
                    <span class="input-group-addon" id="basic-addon1">name</span>
                    <input id="edit-name" type="text" class="form-control" aria-describedby="basic-addon1">
                </div>
                <select id="edit-option" name="classid" class="form-control" style="width: 100px; margin-top: 20px; margin-left: 20px;">
                    {% for class in class_list %}
                       <option value="{{class.1}}">{{class.1}}</option>
                    {% endfor %}
                </select>
                <div style="margin-left: 20px; margin-top: 20px;">
                    <input type="button" class="btn btn-default" id="Ajax-edit" value="提交">
                    <input type="button" class="btn btn-default" id="edit-cancle" value="cancle">
                </div>
            </div>
        </div>  
{% endblock %}