<!DOCTYPE html>
    <head lang="en">
        <meta charset="utf-8">
        <title>student</title>
        <script src="/static/jquery.js"></script>
        <link rel="stylesheet" href="/static/plugin/bootstrap-3.3.7-dist/css/bootstrap.css">
        <link rel="stylesheet" href="/static/myself-class.css">
    </head>
    <body>
        <h1>student</h1>
        <div>
            <a href="/add_student/">add</a> 
            <button id="add_modal">add</button>
        </div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>CLASS</th>
                    <th>operate</th>
                    <th>operate_</th>
                </tr>
            </thead>
            <tbody>
                {% for student in student_list %}
                    <tr>
                        <td>{{student.0}}</td>
                        <td>{{student.1}}</td>
                        <td>{{student.2}}</td>
                        <td>
                            <a href="/del_student/?nid={{student.0}}"  style="color: black;">delete</a>| 
                            <a href="/edit_student/?nid={{student.0}}" style="color: black;">edit</a>
                        </td>
                        <td>
                            <button class="start-edit" >edit</button>
                            <button class="start-delete" value="{{student.0}}" >delete</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/">return</a>
    </body>
    <div id="shadow" class="myself-shadow myself-hide"></div>
    <div id="add-modal" class="myself-modal myself-hide">
        <p>
            <input id="addname" type="text" name="name" placeholder="name">
        </p>
           <select id="addclass" name="classid">
               {% for class in class_list %}
               <option>{{class.1}}</option>
                {% endfor %}
           </select>
        <p><input type="button" value="提交" id="Ajax_addstu"><button id="cancle">cancle</button></p>
    </div>

    <div id="edit-shadow" class="myself-shadow myself-hide"></div>
    <div id="edit-modal" class="myself-modal myself-hide">
        id: <span></span></br> 
        姓名：<input id="edit-name" type="text"></br>
        班级：<select name="classid" id="edit-option">
            {% for class in class_list %}
            <option value="{{class.1}}">{{class.1}}</option>
            {% endfor %}
        </select></br>
        <input type="button" id="Ajax-edit">
        <input id="edit-cancle" type="button" value="cancle">

    </div>

    <script>
        $(function(){
            $('#add_modal').click(function(){
                $('#shadow,#add-modal').removeClass('myself-hide')
            })  
        })

        $('#Ajax_addstu').click(function(){
            $.ajax({
                url:'/modal_add_student/',
                type:'POST',
                data:{
                    'name':$('#addname').val(),
                    'class':$('#addclass').val()
                },
                success:function(data){
                    data =JSON.parse(data) //把字符转换成对象
                    if(data.status){
                        location.reload()
                    }else{
                        alert(data.message)
                    }
                }
            })
        })

        $('#cancle').click(function(){
            $('#shadow,#add-modal').addClass('myself-hide')
        })
        $('.start-edit').click(function(){
            $('#edit-shadow,#edit-modal').removeClass("myself-hide")
            var tds =$(this).parent().prevAll()
            var value_list =[]
            for(var i=0;i<tds.length;i++){
                value_list[i] =$(tds[i]).text()
            }
            stu_id =value_list[3]
            name =value_list[2]
            class_name =value_list[1]
            $("#edit-modal").children("span").text(stu_id)
            $("#edit-name").val(name)
            $("#edit-option").val(class_name)
        })
        $('#edit-cancle').click(function(){
            $('#edit-modal,#edit-shadow').addClass('myself-hide')
        })
        $('#Ajax-edit').click(function(){
            $.ajax({
                url:'/modal_edit_student/',
                type:'POST',
                data:{
                    'stu_id' :$("#edit-modal").children("span").text(),
                    'new_name':$('#edit-name').val(),
                    'new_class':$('#edit-option').val()
                },
                success:function(data){
                    data =JSON.parse(data)
                    if(data.status){
                        location.href ="/student/"
                    }else{
                        alert(data.message)
                    }
                }
            })
        })
        $(".start-delete").click(function(){
            $.ajax({
                url:'/modal_del_student/',
                type:'POST',
                data:{
                    'stu_id':$(this).val()
                },
                success:function(data){
                    data =JSON.parse(data)
                    if(data.status){
                        location.href="/student/"
                    }else{
                        alert(data.message)
                    }
                }
            })
        })
    </script>
</html>
