<!DOCTYPE html>
    <head lang="en">
        <meta charset="utf-8">
        <title>teacher</title>
        <script src="/static/jquery.js"></script>
        <link rel="stylesheet" href="/static/plugin/bootstrap-3.3.7-dist/css/bootstrap.css">
        <link rel="stylesheet" href="/static/myself-class.css">
        <link rel="stylesheet" href="/static/plugin/font-awesome-4.7.0/css/font-awesome.css">
    </head>
    <body>
        <h1>teacher</h1>
        <h3><a href="/add_teacher/" style="color:black">add</a> <button class="btn-add">add</button></h3>
        <button class='btn-add-1'>add-1</button>
        <table border="1">
            <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>class</th>
                    <th>operate</th>
                    <th>operate_</th>
                </tr>
            </thead>
            <tbody>
                {% for item in teacher_list %}
                    <tr>
                        <td>{{item.teacher_id}}</td>
                        <td>{{item.name}}</td>
                        <td>
                            {% for title in item.titles %}
                            <span style="display:inline-block;padding:5px;border:1px solid red;">{{title}}</span>
                            {% endfor %}
                        </td>
                        <td>
                            <a href="/del_teacher/?nid={{item.teacher_id}}" style="color: black;">delete</a>|
                            <a href="/edit_teacher/?nid={{item.teacher_id}}" style="color: black;">edit</a>
                        </td>
                        <td>
                            <button class='btn-edit'>edit</button>|
                            <button class='btn-delete'>delete</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/">return</a>
        <div id="shadow" class="myself-shadow myself-hide"></div>
        <div id="modal" class="myself-modal myself-hide">
            <p style="margin-left: 10px;">添加老师的名字：<input id ="title" type="text" name="title"></p>
            <input type="button" value="提交" onclick="AjaxSend();" style="margin-left: 10px;">
            <button onclick="cancleModal();">cancle</button>
            <select id="class_list" name="selected_class" multiple="multiple">
                {% for class in class_list %}
                    <option value="{{class.0}}">{{class.1}}</option>
                {% endfor %}
            </select>
            <span id="error"></span>
        </div>
        <div id="e-shadow" class="myself-shadow myself-hide"></div>
        <div id="e-modal" class="myself-modal myself-hide">
            <p id="pid" style="margin-left: 10px;"></p>
            老师的名字：<span style="margin-left: 10px;"><input id ="e-title" type="text" name="title"></span>
            <br/>
            <input type="button" value="提交" id="e-submit" style="margin-left: 10px;">
            <button onclick="ecancleModal();">cancle</button>
            <select id="eclass_list" name="selected_class" multiple="multiple">
                {% for class in class_list %}
                    <option value="{{class.0}}">{{class.1}}</option>
                {% endfor %}
            </select>
            <span id="eerror"></span>
        </div>

        <div id="a-shadow" class="myself-shadow myself-hide"></div>
        <div id="loading" class="myself-loding myself-hide"></div>
        <div id="a-modal" class="myself-modal myself-hide">
            <p>
                老师姓名:<input type="text" name="name" id="teacher_name_1">
            </p>
            <p>
                <select name="" id="class_ids" multiple="multiple" size="5">
                </select>
            </p>
            <button id="add_btn1">add</button>
            <button id="add_cancle1">cancle</button>
            <span id="error-1"></span>


        <div id="e-shadow" class="myself-shadow myself-hide"></div>
        <div id="loading" class="myself-loding myself-hide"></div>
        <div id="e-modal" class="myself-modal myself-hide">
            <p>
                老师id:<span></span>
                老师姓名:<input type="text" name="name" id="teacher_name_e_1">
            </p>
            <p>
                <select  id="class_ids" multiple="multiple" size="5">
                </select>
            </p>
            <button id="add_btn1">add</button>
            <button id="add_cancle1">cancle</button>
            <span id="error-1"></span>
        
    </div>
    </body>
    <script>
        $('.btn-edit').click(function(){
            document.getElementById('e-shadow').classList.remove('myself-hide')
            document.getElementById('e-modal').classList.remove('myself-hide')
            var teacher_data =$(this).parent().prevAll()
            $('#e-title').val($(teacher_data[2]).text())
            $('#pid').text('teacher id:'+$(teacher_data[3]).text())
            var class_list =$(teacher_data[1]).text().split(" ")
            var spanlist =$(teacher_data[1]).find('span')
            var optionlist =$('#eclass_list').find('option')
            for(var i =0;i<spanlist.length;i++){
                for(var j=0;j<optionlist.length;j++){
                    if($(optionlist[j]).text() == $(spanlist[i]).text()){
                        $(optionlist[j]).attr("selected","true")
                    }
                }
            }
        })
        $('#add_cancle1').click(function(){
            $('#a-shadow,#a-modal').addClass("myself-hide")
        })
        $('.btn-add').click(function(){
            document.getElementById('shadow').classList.remove('myself-hide')
            document.getElementById('modal').classList.remove('myself-hide')
        })
        function ecancleModal(){
            document.getElementById('e-shadow').classList.add('myself-hide')
            document.getElementById('e-modal').classList.add('myself-hide')
        }
        function cancleModal(){
            document.getElementById('shadow').classList.add('myself-hide')
            document.getElementById('modal').classList.add('myself-hide')
        }
        function AjaxSend(){
            var class_list=[]
            $("#class_list option:selected").each(function () {
                class_list.push($(this).val())
            })
            $.ajax({
                url:'/modal_add_teacher/',
                type:'POST',
                data:{
                    'title':$('#title').val(),
                    'class_list':class_list
                },
                traditional:true,
                success:function(data){
                    data =JSON.parse(data)
                    if (data.status){
                        location.href='/teacher/';
                    }else{
                        $('#error').text(data.message);
                    }

                }
            })
        }
        $('.btn-delete').click(function(){ 
            var tds =$(this).parent().prevAll()
            $.ajax({
                url:'/modal_del_teacher/',
                type:'GET',
                data:{
                    'teacher_id':$(tds[3]).text()
                },
                success:function(data){
                    location.href="/teacher/"
                }
            })
        })
        $('#e-submit').click(function(){
            var class_list =[]
            $('#eclass_list option:selected').each(function(){
                class_list.push($(this).val())
            })
            $.ajax({
                url:"/modal_edit_teacher/",
                type:'POST',
                traditional:true,
                data:{
                    'teacher_id':$('#pid').text().replace("teacher id:",""),
                    'teacher_name':$('#e-title').val(),
                    'class_list':class_list,
                },
                success:function(data){
                    data =JSON.parse(data)
                    if(data.status){
                        location.reload()
                    }else{
                        alert(data.message)
                    }
                }
            })

        })
        $('.btn-add-1').click(function(){
            $("#a-shadow,#loading").removeClass("myself-hide")
            $.ajax({
                url:"/modal_add_1_teacher/",
                type:'GET',
                dataType:'JSON',
                success:function(data){
                    $.each(data,function(i,row){
                        //表示juery的循环，data相当于list，i相当于每一项
                        //约等于for row in data 
                        var tag =document.createElement('option')
                        tag.innerHTML =row[1]
                        tag.setAttribute('value',row[0])
                        $('#class_ids').append(tag)
                    })
                    $('#loading').addClass("myself-hide")
                    $("#a-modal").removeClass("myself-hide")
                }
            })
        })
        $("#add_btn1").click(function(){
            var class_list =[]
            $("#class_ids option:selected").each(function(){
                class_list.push($(this).val())
            })
            var teacher=$('#teacher_name_1').val()
            $.ajax({
                url:"/modal_add_teacher/",
                type:"POST",
                data:{
                    'title':teacher,
                    'class_list':class_list,
                },
                traditional:true,
                success:function(data){
                    data =JSON.parse(data)
                    if (data.status){
                        location.href='/teacher/';
                    }else{
                        $('#error-1').text(data.message);
                    }
                }
            })
        })

    </script>
</html>