<!DOCTYPE html>
    <head lang="en">
        <meta charset="utf-8">
        <title>teacher</title>
    </head>
    <body>
        <h1>teacher</h1>
        <h3><a href="/add_teacher/" style="color:black">add</a></h3>
        <table border="1">
            <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>class</th>
                    <th>operate</th>
                </tr>
            </thead>
            <tbody>
                {% for item in teacher_list %}
                    <tr>
                        <td>{{item.teacher_id}}</td>
                        <td>{{item.name}}</td>
                        <td>
                            {% for title in item.titles %}
                            <span style="display:inline-block;padding:5px;border:1px solid red;">{{title}}</span>
                            {% endfor %}
                        </td>
                        <td>
                            <a href="/del_teacher/?nid={{item.teacher_id}}" style="color: black;">delete</a>|
                            <a href="/edit_teacher/?nid={{item.teacher_id}}" style="color: black;">edit</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/">return</a>
    </body>
</html>