<!DOCTYPE html>
    <head lang="en">
        <meta charset="utf-8">
        <title>test</title>
        <script src="/static/jquery.js"></script>
        <link rel="stylesheet" href="/static/plugin/bootstrap-3.3.7-dist/css/bootstrap.css">
        <link rel="stylesheet" href="/static/myself-class.css">
    </head>
    <body>
        <div style="background-color: darkgoldenrod;">
            <div class="col-sm-1">左边</div>
            <div class="col-sm-4">右边</div>
        </div>
        <div style="background-color: darkgoldenrod;">
            <div class="col-md-1">左边</div>
            <div class="col-md-4">右边</div>
        </div>
        <div style="background-color: darkgoldenrod;">
            <div class="col-md-1">左边</div>
            <div class="col-md-4">右边</div>
        </div>
        <div style="background-color: darkgoldenrod;">
            <div class="col-md-1">左边</div>
            <div class="col-md-4">右边</div>
        </div>


    </body>
</html>